.CommonButton {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  background-color: $purpule-color;
  color: $white-color;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}