.header {
  @include flex-center;
  height: 75px;
  background-color: $primary-gray;

  &__container {
    @include flex-between;
    width: 1400px;
  }

  &__img {
    &_logo {
      padding-left: 4rem;
      cursor: pointer; 
    }

    &_profile {
      margin-right: 30px;
      width: 40px;
      height: 40px;
    }
  }

  &__button {
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    font-size: large;   
    cursor: pointer; 
  }
}