.blog {
  @include flex-center;   
  margin: 0 auto;
  max-width: 1300px;
  flex-direction: column;

  &__content {
    @include flex-center;
    flex-wrap: wrap;
  }

  &__pagination{
    align-self: flex-end;
    margin-right: 1rem;    
  }
}